[Desktop Entry]
Encoding=UTF-8
Name=Deuteriumcoin
Comment=Deuteriumcoin P2P Cryptocurrency
Comment[fr]=Deuteriumcoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Deuteriumcoin, eşten eşe kriptografik sanal para birimi
Exec=deuteriumcoin-qt %u
Terminal=false
Type=Application
Icon=deuteriumcoin128
MimeType=x-scheme-handler/deuteriumcoin;
Categories=Office;Finance;
